
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    position: relative;
    overflow: hidden;
}

.main-ui-holder {
    position: absolute;
    top: 60px;
    left: 0;
    height: calc(100% - 60px);
    min-width: 100%;
    width: 100%;
    display: flex;
    display: -webkit-flex;
    flex-direction: column;
    -webkit-flex-direction: column;
}

#header {
    height: 60px;
    font-size: 10vw;
    text-align: center;
    line-height: 60px;
    background: black;
    color: white;
}

@media screen and (min-width: 370px) {
    #header {
        font-size: 40px;
    }
}

#num-bar {
    height: 60px;
    min-height: 60px;
    width: 100%;
}

.bulb {
    display: inline;
    height: 50%;
    width: auto;
}

#memory-board {
    display: inline-block;
    width: 100%;
    z-index: 3;
    max-width: 360px;
}

#help-bulb {
    width: auto;
    height: 1em;
    display: inline-block;
}

.ui-dialog-titlebar-close {
    visibility: hidden;
    pointer-events: none;
}
#background {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 1;
    opacity : 0.5;
}
#memory-board-wrapper {
    position: relative;
    display: flex;
    display: -webkit-flex;
    background-color: black;
    justify-content: center;
    -webkit-justify-content: center;
    align-items: center; 
    -webkit-align-items: center;
    text-align: center;
    overflow: hidden;
    flex: 1;
    -webkit-flex: 1;
    width: 100%;
}

.color-square {
    width: 55px;
    height: 55px;
    margin: 5px;
    background-color: rgb(50, 50, 50);
    border: solid #000000 6px;
    display: inline-block;
}

.brighten-square {
    filter: brightness(150%);
}

.red-square {
    background-color: rgb(252, 111, 111);
    border-color: #b00000;
}

.green-square {
    background-color: rgb(0, 200, 0);
    border-color: #008000;
}

.blue-square {
    background-color: rgb(111, 111, 252);
    border-color: #000080;
}

.yellow-square {
    background-color: rgb(200, 200, 0);
    border-color: #808000;
}

.orange-square {
    background-color: rgb(252, 125, 7);
    border-color: #bf5c00;
}

.purple-square {
    background-color: rgb(252, 111, 252);
    border-color: #800080;
}

.noclick {
    pointer-events: none;
}
